.qp-theorem {
    background: #f0f8ff !important;
    border-left: 4px solid #2b6cb0 !important;
    padding: 0.8rem !important;
    margin: 0.75rem 0 !important;
    border-radius: 4px !important;
}

.tcr {
    color: rgb(146, 23, 23);
}